body {
  background-color: #f3d5dc;
}

/* layout */
.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

/* header */
.header {
  display: flex;
}

.header h1 {
  flex: 1;
}

.header button {
  margin: 0 0 0 5px;
}

/* logout */
.logout_wrap {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  align-items: center;
  justify-content: center;
}

.logout_wrap h1 {
  padding: 0 0 0.625rem;
}

/* footer */
.footer {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin: 0 -20px 0 -20px;
  background-color: #621f2f;
}

/* home */
.home .progress_wrap {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.home .progress_wrap span {
  display: inline-block;
  padding: 0 10px 0 0;
}

.home .progress_wrap .progress_item {
  flex: 1;
}

.home .progress_wrap .progress_item > div > div {
  background-color: #c21d54 !important;
}

.home .list_wrap {
  padding: 1.25rem 0 3.75rem 0;
}

.home .list_wrap ul {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.home .list_wrap ul li {
  width: calc(25% - 6px);
}

.home .list_wrap .l_inner {
  position: relative;
  display: block;
  padding-top: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  overflow: hidden;
}
.home .list_wrap .l_inner:before {
  content: '';
  display: block;
  clear: both;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

.home .list_wrap .l_inner.blank_type:before {
  background-color: rgba(0, 0, 0, 0.6);
}

.home .list_wrap .l_inner .number {
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 6px;
  font-size: 1rem;
  padding: 0;
  background-color: #222;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}

.home .list_wrap .l_inner .title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  padding: 10px;
  line-height: 1;
  word-break: keep-all;
}

/* write */
.write_wrap ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.write_wrap ul li {
  flex: 1;
}

.write_wrap .l_inner {
  position: relative;
  padding-top: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  overflow: hidden;
}
.write_wrap .l_inner:before {
  content: '';
  display: block;
  clear: both;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}
.write_wrap .l_inner.blank_type:before {
  background-color: rgba(0, 0, 0, 0.6);
}

.write_wrap .l_inner.preview_type {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8;
}

.write_wrap .l_inner .number {
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 6px;
  font-size: 1rem;
  padding: 0;
  background-color: #222;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  z-index: 5;
}

.write_wrap .l_inner .close_btn {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 8px;
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 0;
  background-color: #222;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 5;
}

.write_wrap .l_inner .close_btn:before,
.write_wrap .l_inner .close_btn:after {
  content: '';
  display: block;
  clear: both;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.write_wrap .l_inner .close_btn:before {
  transform: translate3d(-10px, -1px, 0px) rotate(-45deg);
}

.write_wrap .l_inner .close_btn:after {
  transform: translate3d(-10px, -1px, 0px) rotate(45deg);
}

.upload_wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding-top: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  overflow: hidden;
}

.upload_wrap input[type='file'] {
  display: none;
}

.upload_wrap .custom-file-upload {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0;
  width: 100px;
  height: 100px;
  font-size: 0;
  transform: translate3d(-50px, -50px, 0);
  z-index: 10;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
}

.upload_wrap .custom-file-upload::before,
.upload_wrap .custom-file-upload::after {
  content: '';
  clear: both;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #ddd;
}

.upload_wrap .custom-file-upload::before {
  width: 50px;
  height: 6px;
  transform: translate3d(-25px, -3px, 0);
}

.upload_wrap .custom-file-upload::after {
  width: 6px;
  height: 50px;
  transform: translate3d(-3px, -25px, 0);
}

.preview_img_wrap {
  text-align: center;
  border: 1px solid #c48090;
  padding: 10px;
  margin: 10px 0;
}

.view_group .react-datepicker-wrapper {
  position: absolute;
  top: 20px;
  right: 25px;
}

.view_group .react-datepicker-wrapper input[type='text'] {
  text-align: center;
}

/* content nav */
.content_nav {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  padding: 20px 0;
}

.content_nav .icon_back {
  font-size: 0;
}

.content_nav .icon_back:before {
  content: '';
  display: inline-block;
  clear: both;
  width: 30px;
  height: 30px;
  background-image: url('./assets/img/icon_back_arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.content_nav .title {
  flex: 1;
  text-align: center;
  line-height: 1;
  padding: 0 1.25rem;
}
.content_nav .title input[type='text'] {
  text-align: center;
}
.content_nav button {
  height: 34px;
  line-height: 32px;
}

.emotion_container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.emotion_container .emotion-box {
  width: 20%;
  font-size: 1.125rem;
  text-align: center;
}

.emotion_container .emotion-box input[type='radio'] {
  display: none;
}

.emotion_container img {
  width: 100%;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
}

.emotion_container input[type='radio'] + img {
  border-radius: 5px;
  padding: 1.875rem;
}

.emotion_container input[type='radio']:checked + img,
.emotion_container input[type='radio'].active + img {
  border-color: #d51f5c;
  background-color: #d51f5c;
}

/* view */
.view_wrap label img {
  cursor: default;
}

.view_group {
  position: relative;
  padding: 1.25rem 0;
  border-bottom: 1px dotted #c48090;
}

.view_group textarea {
  width: 100%;
  outline: none;
  resize: none;
}

.view_group .flex_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* loading */
.loading_bar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* not_found_page */
.not_found_page {
  text-align: center;
  margin: 20px 0;
  padding: 100px 20px;
  border: 1px solid #c21d54;
}

.not_found_page .type2 {
  padding: 20px 0 0 0;
}

/* 상단 바로가기 */
.floating-menu {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 100;
}

.floating-menu button {
  background-color: #a2495e;
  border: none;
  padding: 0;
  margin: 0;
  width: 50px;
  cursor: pointer;
  font-size: 0;
  transition: background-color 0.3s ease;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-image: url(/icon_arrow_top.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.floating-menu button:hover {
  background-color: #893e50;
}

@media (max-width: 768px) {
  .home .list_wrap ul li {
    width: calc(50% - 3px);
  }

  .emotion_container input[type='radio'] + img {
    padding: 0.625rem;
  }
}
